/* light mode */
@media (prefers-color-scheme: light) {
    :root {
      --bg-color: white;
      --main-color:black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
      --bg-color: black;
      --main-color:white;
    }
}

body {
  background-color: var(--bg-color);
  color: var(--main-color)
}


#menubar {
  background-color: magenta;
  height: 50px;
  margin: 0px;
  padding: 0px;
}
#main-detector{
  
}
