/* light mode */
:root{
  --padding-inline-def: 20px;
}
@media (prefers-color-scheme: light) {
    :root {
      --bg-color:rgb(228, 228, 228);
      --main-color:rgb(16, 16, 16);
      --banner-yes:hsl(124, 54%, 43%);
      --banner-no:hsl(0, 83%, 35%);
      /* Changes all icons to white that shares this filter*/
      --icon-color:invert(0%) sepia(0%) saturate(7471%) hue-rotate(122deg) brightness(101%) contrast(109%)
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
      --bg-color:rgb(16, 16, 16);
      --main-color:rgb(228, 228, 228);
      --banner-yes:hsl(124, 80%, 18%);
      --banner-no:hsl(0, 80%, 21%);
      /* Changes all icons to white that shares this filter*/
      --icon-color:invert(100%) sepia(7%) saturate(0%) hue-rotate(73deg) brightness(116%) contrast(106%)
    }
  #github-repo img{
    filter:invert(100%)
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

a{
  color: var(--main-color)
}
noscript{
  text-align: center;
}
noscript p{
  font-size:30px
}
/*If you want to add another style, 
please delete the button key and add
the auto-updater*/
button {
  background-color: var(--banner-yes); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
button:hover{
  border-radius: 50px
}
#menubar{
  text-align: right;
  position: fixed;
  bottom: 10px;
  right: 2px;
  opacity: 70%;
}

#menubar > div{
  background-color: transparent;
  color: var(--main-color);
  margin: 0;
  height: 42px;
  display: inline-block;
  padding-top: 7px;
  padding-inline: var(--padding-inline-def);
}
#menubar a{
  height: 87%;
  text-decoration: none;
  margin-right: 10px;
}

#menubar img{
  height: inherit;

  filter: var(--icon-color);
}

#main-detector{
  --padding-lat: 12vw;
  background-color: 0;
  display: grid;
  height: auto;
  padding-right: var(--padding-lat);
  padding-left: var(--padding-lat);
  text-align: center;
  opacity: 0%;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 15px;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
}
/* New CSS for mobile devices */
@media screen and (max-width: 600px) {
  #main-detector {
    --padding-lat: 5vw;
    padding-top: 15px; 
    padding-bottom: 15px;
    margin: 10px;
    font-size: 10px;
  }
}
#main-detector.fade-in-main-detector{
  opacity: 100%;
  transition: opacity 1s;
}

#main-question{
  font-size: 29px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#main-answer {
  font-size: 86px;
  /*! border: 3px solid; */
  border-radius: 22px;
  border-collapse: separate;
  font-weight: 1000;
  font-family: 'Montserrat', sans-serif;
}
.main-symbols{
  align-self: center;
}
.main-symbols img{
  scale: 28vw;
  filter: var(--icon-color);
}
#main-codes-div{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
}
#last-time-updated-div{
  /* Centered Updated since text*/
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#last-time-updated-div > span{
  font-size: 120%
}
.codes-div{
  display: grid;
}
.code-ids{
  text-decoration: none;
  font-size: xx-large;
  font-weight: lighter;
}

#banner-footer {
  color: var(--main-color);

  font-weight: lighter;
}
#about{
  width: 85%;
  text-align: center;
}
#about h2{
  margin-top: 45px;
  font-size: 41px;
}
#about h3{
  margin-top: 45px;
  font-size: 26px;
}
#about p{
  font-size: 21px;
  line-height: 26px;
  font-weight: lighter;
}
